<div class=" card card-container row">
  <div class="col-xs-13 col-sm-12 col-sm-10 col-sm-offset-1 col-md-offset 2">
      <h2 class="Titulo"> Actualizacion de  Usuario</h2>
      <form [formGroup]="UsuarioForm" (ngSubmit)="onSubmit()">
       

    
      
            <div class="form-group">
                    <label class="simple" for="NE">NE</label>
                    <i class="fa fa-check-circle check" *ngIf="UsuarioForm.controls.NE.valid"></i>
                    <i class="fa fa-exclamation-circle uncheck " *ngIf="UsuarioForm.controls.NE.invalid && UsuarioForm.controls.NE.touched"></i>
      
                    <input type="text" formControlName="NE" id="NE" class="form-control" [(ngModel)]="Usuario.idEmpleado" placeholder="Numero de empleado" disabled >
                    <p class="alert alert-danger" *ngIf="UsuarioForm.controls.NE.invalid && UsuarioForm.controls.NE.touched">El campo es obligatorio</p>
      
                </div>
          <div class="form-group">
              <label class="simple" for="Usuario">Usuario</label>
              <i class="fa fa-check-circle check" *ngIf="UsuarioForm.controls.Usuario.valid"></i>
              <i class="fa fa-exclamation-circle uncheck " *ngIf="UsuarioForm.controls.Usuario.invalid && UsuarioForm.controls.Usuario.touched"></i>

              <input type="Usuario" formControlName="Usuario" id="Usuario" class="form-control" placeholder="Email" [(ngModel)]="Usuario.userrr" disabled required email>
              <p class="alert alert-danger" *ngIf="UsuarioForm.controls.Usuario.invalid && UsuarioForm.controls.Usuario.touched">El campo es obligatorio</p>

          </div>
          <div class="form-group">
              <label class="simple" for="Password">Password</label>
              <i class="fa fa-check-circle check" *ngIf="UsuarioForm.controls.Password.valid"></i>
              <i class="fa fa-exclamation-circle uncheck " *ngIf="UsuarioForm.controls.Password.invalid && UsuarioForm.controls.Password.touched"></i>

              <input type="text" formControlName="Password" id="Password" class="form-control" [(ngModel)]="Usuario.pass" placeholder="Password">
              <p class="alert alert-danger" *ngIf="UsuarioForm.controls.Password.invalid && UsuarioForm.controls.Password.touched">El campo es obligatorio caracteres minimo 6</p>

          </div>
      
          <hr>
          <div class="form-group">     
                
                       <label  class="simple" for="Rol">Rol  </label>
                       <i class="fa fa-check-circle check" *ngIf="UsuarioForm.controls.Rol.valid"></i>
                       <i class="fa fa-exclamation-circle uncheck " *ngIf="UsuarioForm.controls.Rol.invalid && UsuarioForm.controls.Rol.touched"></i>
         
                       <select class="form-control" formControlName="Rol" [(ngModel)]="Usuario.Rol" id="Rol">
                               <option value="">Seleccione ...</option>
                               <option value="AD">Administrador</option>
                               <option value="CH">Chofer</option>
                               <option value="AS">Asistente</option>
                               
                       </select>
                       <p class="alert alert-danger" *ngIf="UsuarioForm.controls.Rol.invalid && UsuarioForm.controls.Rol.touched">Es obligatorio seleccionar un Rol</p>
                       
                 
              
               </div>
               <div class="form-group">     
                    
                           <label  class="simple" for="Estatus">Estatus  </label>
                           <i class="fa fa-check-circle check" *ngIf="UsuarioForm.controls.Estatus.valid"></i>
                           <i class="fa fa-exclamation-circle uncheck " *ngIf="UsuarioForm.controls.Estatus.invalid && UsuarioForm.controls.Estatus.touched"></i>
             
                           <select class="form-control" formControlName="Estatus" [(ngModel)]="Usuario.Estatus" id="Estatus">
                                   <option value="">Seleccione ...</option>
                                   <option value="A">Activo</option>
                                   <option value="I">Inactivo</option>
                                   
                           </select>
                           <p class="alert alert-danger" *ngIf="UsuarioForm.controls.Estatus.invalid && UsuarioForm.controls.Estatus.touched">Es obligatorio seleccionar un Estatus</p>
                           
                     
                  
                   </div>
          <hr>
          <div>

              <button class="btn btn-primary  pull-right" type="submit"  [disabled]="!UsuarioForm.valid">Guardar</button>
              <a class="btn btn-danger" [routerLink]="['/UserL']" >Cancelar</a>
              <div class="alertsuccess" *ngIf="Resultado==false">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                    No se puede llevar acabo la transaccion intente mas tarde
                  </div>
                  <div class="alertsuccess" *ngIf="Resultado==true">
                      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                     Registro eliminado correctamente
                    </div>              
          </div>

      </form>
  
  
      
      


  </div>


</div>