<nav class="navbar navbar-inverse" >
  <div class="container-fluid">
    <div class="navbar-header">
   
  </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
              <li><a [routerLink]="['/Empleados']"><span class=" glyphicon glyphicon-home"></span>EMPLEADOS</a></li>
              <li class=" dropdown"><a [routerLink]="['/EmpleadosR']" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Registrar  <span class=""></span></a>
          <li class=" dropdown"><a [routerLink]="['/EmpleadosL']" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lista  <span class=""></span></a>
        
      </ul>
   
      
    </div>
  </div>
  
</nav>