<div class=" card card-container row">
    <div class="col-xs-13 col-sm-12 col-sm-10 col-sm-offset-1 col-md-offset 2">
            <hr>
        <button class="btm1 fa fa-pencil" [routerLink]="['/Empleados']">HOME EMPLEADOS</button>
        <hr>    
        <h2 class="Titulo"> Empleado</h2>
        <form [formGroup]="EmpleadoForm" (ngSubmit)="onSubmit()">
                <img class=" profile-img"   [src]="fileBrowser"
                alt="">
            <div class="form-group">
             
                    <img [src]="url" class="profile-img-card">
                  <input type='file' formControlName="Foto" id="Foto" class="form-control" placeholder="Seleccione una foto"  (change)="readUrl($event)">

            </div>
            <div class="form-group">
                <label class="simple" for="Nombre">Nombre</label>
                <i class="fa fa-check-circle check" *ngIf="EmpleadoForm.controls.Nombre.valid"></i>
                <i class="fa fa-exclamation-circle uncheck " *ngIf="EmpleadoForm.controls.Nombre.invalid && EmpleadoForm.controls.Nombre.touched"></i>
                <input type="text" formControlName="Nombre" id="Nombre" class="form-control" placeholder="Nombre" required autofocus>
                <p class="alert alert-danger" *ngIf="EmpleadoForm.controls.Nombre.invalid && EmpleadoForm.controls.Nombre.touched">El campo es obligatorio (minimo 10 caracteres)</p>
            </div>
            <div class="form-group">
                <label class="simple" for="Email">Email</label>
                <i class="fa fa-check-circle check" *ngIf="EmpleadoForm.controls.Email.valid"></i>
                <i class="fa fa-exclamation-circle uncheck " *ngIf="EmpleadoForm.controls.Email.invalid && EmpleadoForm.controls.Email.touched"></i>

                <input type="Email" formControlName="Email" id="Email" class="form-control" placeholder="Email" required email>
                <p class="alert alert-danger" *ngIf="EmpleadoForm.controls.Email.invalid && EmpleadoForm.controls.Email.touched">El campo es obligatorio</p>

            </div>
            <div class="form-group">
                <label class="simple" for="RFC">RFC</label>
                <i class="fa fa-check-circle check" *ngIf="EmpleadoForm.controls.RFC.valid"></i>
                <i class="fa fa-exclamation-circle uncheck " *ngIf="EmpleadoForm.controls.RFC.invalid && EmpleadoForm.controls.Curp.touched"></i>

                <input type="text" formControlName="RFC" id="RFC" class="form-control" placeholder="RFC">
                <p class="alert alert-danger" *ngIf="EmpleadoForm.controls.RFC.invalid && EmpleadoForm.controls.RFC.touched">El campo es obligatorio(El campo debe contener 13 caracteres)</p>

            </div>
            <div class="form-group">
                <label class="simple" for="Curp">Curp</label>
                <i class="fa fa-check-circle check" *ngIf="EmpleadoForm.controls.Curp.valid"></i>
                <i class="fa fa-exclamation-circle uncheck " *ngIf="EmpleadoForm.controls.Curp.invalid && EmpleadoForm.controls.Curp.touched"></i>

                <input type="text" formControlName="Curp" id="Curp" class="form-control" placeholder="Curp">
                <p class="alert alert-danger" *ngIf="EmpleadoForm.controls.Curp.invalid && EmpleadoForm.controls.Curp.touched">El campo es obligatorio(El campo debe contener 18 caracteres)</p>

            </div>
            <div class="form-group">
                <label class="simple" for="Direccion">Direccion</label>
                <i class="fa fa-check-circle check" *ngIf="EmpleadoForm.controls.Direccion.valid"></i>
                <i class="fa fa-exclamation-circle uncheck " *ngIf="EmpleadoForm.controls.Direccion.invalid && EmpleadoForm.controls.Direccion.touched"></i>

                <input type="text" formControlName="Direccion" id="Direccion" class="form-control" placeholder="Direccion">
                <p class="alert alert-danger" *ngIf="EmpleadoForm.controls.Direccion.invalid && EmpleadoForm.controls.Direccion.touched">El campo es obligatorio(Maximo de caracteres 50)</p>

            </div>
            <div class="form-group">
                <label class="simple" for="FechaNacimiento">FechaNacimiento</label>
                <i class="fa fa-check-circle check" *ngIf="EmpleadoForm.controls.FechaNacimiento.valid"></i>
                <i class="fa fa-exclamation-circle uncheck " *ngIf="EmpleadoForm.controls.FechaNacimiento.invalid && EmpleadoForm.controls.FechaNacimiento.touched"></i>

                <input type="date" formControlName="FechaNacimiento" id="FechaNacimiento" class="form-control" placeholder="FechaNacimiento"
                    >

                <p class="alert alert-danger" *ngIf="EmpleadoForm.controls.FechaNacimiento.invalid && EmpleadoForm.controls.FechaNacimiento.touched">El campo es obligatorio</p>

            </div>

            <hr>
            <div class="form-group">
                <label class="simple" for="Licencia">Licencia</label>
                <i class="fa fa-check-circle check" *ngIf="EmpleadoForm.controls.Licencia.valid"></i>
                <i class="fa fa-exclamation-circle uncheck " *ngIf="EmpleadoForm.controls.Licencia.invalid && EmpleadoForm.controls.Licencia.touched"></i>

                <input type="text" formControlName="Licencia" id="Licencia" class="form-control" placeholder="Licencia">
                <p class="alert alert-danger" *ngIf="EmpleadoForm.controls.Licencia.invalid && EmpleadoForm.controls.Licencia.touched">El campo es obligatorio</p>
                
            </div>
            <div class="form-group">
                <label class="simple" for="Telefono">Telefono</label>
                <i class="fa fa-check-circle check" *ngIf="EmpleadoForm.controls.Telefono.valid"></i>
                <i class="fa fa-exclamation-circle uncheck " *ngIf="EmpleadoForm.controls.Telefono.invalid && EmpleadoForm.controls.Telefono.touched"></i>

                <input type="number" formControlName="Telefono" id="Telefono" class="form-control" placeholder="Telefono" required number>
                <p class="alert alert-danger" *ngIf="EmpleadoForm.controls.Telefono.invalid && EmpleadoForm.controls.Telefono.touched">El campo es obligatorio (10 caracteres maximo)</p>
                
            </div>
            <div class="form-group">     
                
                       <label  class="simple" for="Puesto">Puesto: </label>
                       <i class="fa fa-check-circle check" *ngIf="EmpleadoForm.controls.Puesto.valid"></i>
                       <i class="fa fa-exclamation-circle uncheck " *ngIf="EmpleadoForm.controls.Puesto.invalid && EmpleadoForm.controls.Puesto.touched"></i>
         
                       <select class="form-control" formControlName="Puesto" id="Puesto">
                               <option value="">Seleccione ...</option>
                               <option value="Chofer">Empleado</option>
                               <option value="Asistente">Temporal</option>
                               
                       </select>
                       <p class="alert alert-danger" *ngIf="EmpleadoForm.controls.Puesto.invalid && EmpleadoForm.controls.Puesto.touched">Es obligatorio seleccionar un Puesto</p>
                       
                 
              
               </div>

            <!-- <div class="form-group">
                <label class="simple" for="Ciudad">Ciudad</label>
                <input type="text" formControlName="Ciudad" id="Ciudad" class="form-control" placeholder="Ciudad">
            </div> -->
            <hr>

            <!-- <div class="form-group simple">
        <label   for="Puesto">Puesto de IVA</label>
        <select class="form-control" formControlName="Puesto" id="Puesto">
                <option value="">Seleccione...</option>
                <option value="0">0%</option>
                <option value="0.10">10%</option>
                <option value="0.16">16%</option>
        </select>
  
</div>

            

<div class="form-group">
        <label class="simple" for="base">IVA</label>  
        <input type="number" formControlName="base" id="base" class="form-control" placeholder="IVA" >
</div>


<div class="form-group">
        <label class="simple" for="iva">Importe IVA</label>  
        <input type="number" formControlName="iva" id="iva" [(ngModel)]="EmpleadoForm.value.iva" class="form-control" disabled >
</div>
<div class="form-group">
        <label class="simple" for="total">Total factura iva incluido</label>  
        <input type="number" formControlName="total" id="total"  [(ngModel)]="EmpleadoForm.value.total" class="form-control" > 
</div>
-->
            <div>

                <button class="btn btn-primary  pull-right" type="submit" [disabled]="!EmpleadoForm.valid">Guardar</button>
                
                <div class="alertsuccess" *ngIf="Resultado==false">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                        No se puede llevar acabo la transaccion intente mas tarde
                      </div>
                      <div class="alertsuccess" *ngIf="Resultado==true">
                          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                         Registro eliminado correctamente
                        </div>                
            </div>

        </form>


        <!-- <pre>Valor del formulario:{{EmpleadoForm.value | json}}</pre>
<pre>status del formulario:{{EmpleadoForm.status | json}}</pre>
<hr>
<pre>{{factura | json}}</pre> -->
    </div>


</div>