



        <form >
            <div class="card card-container">
                <h2 class="Titulo">Iniciar Sesión</h2>
                <p id="profile-name" class="profile-name-card"></p>
                <form class="form-signin" (ngSubmit)="onSubmit()" #formpro="ngForm">
                    <span id="reauth-email" class="reauth-email"></span>
                    <input type="email" ngModel name="Email" id="Email" class="form-control" placeholder="Email" required autofocus>
                    <input type="password" ngModel name="Password" id="Password" class="form-control" placeholder="Password" required>                 
                    <button class="btn btn-lg btn-primary btn-block btn-signin"  type="submit">Entrar</button>
           
                </form>
                <a [routerLink]="['/OlvideMiPassword']"  class="forgot-password">
                   Olvide mi contraseña
                </a>
                <hr>
                <pre>{{login | json }}</pre>
            </div>
        </form>

