
<div class="col-sm-12" >
  <h2 class="Titulo">Detalle</h2>
<div class="simple " >
    <form [formGroup]="facturaForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="id">id:</label>
          <i class="fa fa-check-circle check" *ngIf="facturaForm.controls.id.valid"></i>
          <i class="fa fa-exclamation-circle uncheck " *ngIf="facturaForm.controls.id.invalid && facturaForm.controls.id.touched"></i>
        
          <input type="number" formControlName="id" id="id" class="form-control" placeholder="id" [(ngModel)]="a.Id" >
          <p class="alert alert-danger"  *ngIf="facturaForm.controls.id.invalid && facturaForm.controls.id.touched" >El campo es obligatorio y (caracteres maximos 10)</p>
          
        </div >
    <div class="form-group">
        <label for="articulo">Articulo:</label>
        <i class="fa fa-check-circle check" *ngIf="facturaForm.controls.articulo.valid"></i>
        <i class="fa fa-exclamation-circle uncheck " *ngIf="facturaForm.controls.articulo.invalid && facturaForm.controls.articulo.touched"></i>  
        <input type="text"  class="form-control" formControlName="articulo" id="articulo" [(ngModel)]="a.Nombre"  placeholder="Nombre del articulo">
        <p class="alert alert-danger"  *ngIf="facturaForm.controls.articulo.invalid && facturaForm.controls.articulo.touched" >El campo es obligatorio y (caracteres maximos 50)</p>  
      </div >

      <div class="form-group">
          <label for="descripcion">descripcion:</label>
          <i class="fa fa-check-circle check" *ngIf="facturaForm.controls.descripcion.valid"></i>
          <i class="fa fa-exclamation-circle uncheck " *ngIf="facturaForm.controls.descripcion.invalid && facturaForm.controls.descripcion.touched"></i>  
          <input type="text"  class="form-control" formControlName="descripcion" id="descripcion" [(ngModel)]="a.Descripcion"  placeholder="Descripcion">
          <p class="alert alert-danger"  *ngIf="facturaForm.controls.descripcion.invalid && facturaForm.controls.descripcion.touched" >El campo es obligatorio y (caracteres maximos 50)</p>  
      </div >
        <div class="form-group">
            <label for="cantidad">cantidad:</label>
            <i class="fa fa-check-circle check" *ngIf="facturaForm.controls.cantidad.valid"></i>
            <i class="fa fa-exclamation-circle uncheck " *ngIf="facturaForm.controls.cantidad.invalid && facturaForm.controls.cantidad.touched"></i>  
            <input type="number"  class="form-control" formControlName="cantidad" id="cantidad" [(ngModel)]="a.Cantidad"  placeholder="Cantidad" >
            <p class="alert alert-danger"  *ngIf="facturaForm.controls.cantidad.invalid && facturaForm.controls.cantidad.touched" >El campo es obligatorio y (caracteres maximos 10)</p>  
        </div >
        <div class="form-group">
            <label for="precio">precio:</label>
            <i class="fa fa-check-circle check" *ngIf="facturaForm.controls.precio.valid"></i>
            <i class="fa fa-exclamation-circle uncheck " *ngIf="facturaForm.controls.precio.invalid && facturaForm.controls.precio.touched"></i>  
            <input type="number"  class="form-control" formControlName="precio" id="precio" [(ngModel)]="a.Precio"  placeholder="precio sin IVA" >
            <p class="alert alert-danger"  *ngIf="facturaForm.controls.precio.invalid && facturaForm.controls.precio.touched" >El campo es obligatorio y (caracteres maximos 10)</p>  
        </div >
        <div class="form-group">
            <label for="iva">iva:</label>
            <i class="fa fa-check-circle check" *ngIf="facturaForm.controls.iva.valid"></i>
            <i class="fa fa-exclamation-circle uncheck " *ngIf="facturaForm.controls.iva.invalid && facturaForm.controls.iva.touched"></i>  
            <input type="number"  class="form-control" formControlName="iva" id="iva" [(ngModel)]="a.IVA"  placeholder="IVa">
            <p class="alert alert-danger"  *ngIf="facturaForm.controls.iva.invalid && facturaForm.controls.iva.touched" >El campo es obligatorio y (caracteres maximos 10)</p>  
        </div >
    </form>
    <button  class="btn btn-success pull-right"
    (click)="agregar();" [disabled]="!facturaForm.valid">Añadir</button> <h2>{{notificacion}}</h2>
 </div>
<hr>
<table class="table table-bordered table-striped tabla simple">
    <thead>
      <tr class="filters">
        <th>ID</th>                  
        <th>Nombre</th>
        <th>Descripcion</th>      
        <th>Cantidad</th>      
        <th>IVA%</th>             
        <th>precio unitario</th>
        <th>Importe</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
           
      <tr class="detalle " *ngFor="let articulos of this.factura.articulo; let i=index">
        <td>{{ articulos.Id }}</td>   
       
        <td>{{ articulos.Nombre }}</td>
        <td>{{ articulos.Descripcion }}</td>
        <td>{{ articulos.Cantidad }}</td>
        <td>{{ articulos.IVA }}</td>
        <td>{{ articulos.Precio}}</td>            
        <td>{{ articulos.Total}}</td>   
        <td>
          <a (click)="factura.edit(i)" class="btn btn-success pull-right" >
            Editar
          </a>
          </td>  
      </tr> 
    </tbody>
    </table>
    
    <div class="col-sm-5 simple" >
      <hr >
      <h2>Subtotal:$</h2><h2>{{subt}}</h2>
      <hr >
       <h5>IVA:$</h5><h5>{{IVA}}</h5>
       <hr >
       <h2>Total:$</h2><h2>{{Total}}</h2>
      <hr >
      </div>
</div>
