.simple{
    
            font-size: 12px;
            color: #F7F7F7;
            text-decoration-color: #B81A1A;
        }
    .detalle{
    
        font-size: 12px;
        color: rgb(46, 7, 221);
        text-decoration-color: #B81A1A;
    }

    .col-sm-12{

        background: black;
    }

    .Titulo{
        
            font-size: 30px;
            color: rgb(243, 23, 16);
            text-decoration-color: #B81A1A;
        }