<div class=" card card-container row">
        <div class="col-xs-13 col-sm-12 col-sm-10 col-sm-offset-1 col-md-offset 2">

<hr>
                <button class="btm1 fa fa-pencil" [routerLink]="['/VehiculosH']">HOME  VEHICULOS</button>
                <button class="btm2 fa fa fa-table" [routerLink]="['/VehiculoL']">LISTA DE  VEHICULOS</button>
<hr>          
            <h2 class="Titulo">Registrar vehiculo</h2>
            <form [formGroup]="frm" (ngSubmit)="onSubmit()">
             
                <div class="form-group">
                    <label class="simple" for="Marca">Marca</label>
                    <i class="fa fa-check-circle check" *ngIf="frm.controls.Marca.valid"></i>
                    <i class="fa fa-exclamation-circle uncheck " *ngIf="frm.controls.Marca.invalid && frm.controls.Marca.touched"></i>
                    <input type="text" formControlName="Marca" id="Marca" class="form-control" placeholder="Marca" >              
                    <p class="alert alert-danger" *ngIf="frm.controls.Marca.invalid && frm.controls.Marca.touched">El campo es obligatorio (Maximo 50 caracteres)</p>
                  </div>
                <div class="form-group">
                    <label class="simple" for="Modelo">Modelo</label>
                    <i class="fa fa-check-circle check" *ngIf="frm.controls.Modelo.valid"></i>
                    <i class="fa fa-exclamation-circle uncheck " *ngIf="frm.controls.Modelo.invalid && frm.controls.Modelo.touched"></i>
      
                    <input type="Modelo" formControlName="Modelo" id="Modelo" class="form-control"  placeholder="Modelo" required >
                    <p class="alert alert-danger" *ngIf="frm.controls.Modelo.invalid && frm.controls.Modelo.touched">El campo es obligatorio(Maximo 50 caracteres) </p>
      
                </div>
                <div class="form-group">
                        <label class="simple" for="Anio">Año</label>
                        <i class="fa fa-check-circle check" *ngIf="frm.controls.Anio.valid"></i>
                        <i class="fa fa-exclamation-circle uncheck " *ngIf="frm.controls.Anio.invalid && frm.controls.Anio.touched"></i>
          
                        <input type="date" formControlName="Anio" id="Anio" class="form-control"  placeholder="Año" required >
                        <p class="alert alert-danger" *ngIf="frm.controls.Anio.invalid && frm.controls.Anio.touched">El campo es obligatorio</p>
          
                    </div>
                
                <div class="form-group">     
                        
                               <label  class="simple" for="Tipo">Tipo: </label>
                               <i class="fa fa-check-circle check" *ngIf="frm.controls.Tipo.valid"></i>
                               <i class="fa fa-exclamation-circle uncheck " *ngIf="frm.controls.Tipo.invalid && frm.controls.Tipo.touched"></i>
                 
                               <select class="form-control" formControlName="Tipo"  id="Tipo">
                                       <option value="">Seleccione ...</option>
                                       <option value="CamionCarga">Camion de carga</option>
                                       <option value="Automovil">Automovil</option>
                                       <option value="Pikup">Pikup</option>
                                       <option value="Asistente">Asistente de carga</option>
                                       
                                       
                                       
                               </select>
                               <p class="alert alert-danger" *ngIf="frm.controls.Tipo.invalid && frm.controls.Tipo.touched">Es obligatorio seleccionar un Tipo</p>
                               
                         
                      
                       </div>
                <div class="form-group">
                    <label class="simple" for="NumeroChasis">NumeroChasis</label>
                    <i class="fa fa-check-circle check" *ngIf="frm.controls.NumeroChasis.valid"></i>
                    <i class="fa fa-exclamation-circle uncheck " *ngIf="frm.controls.NumeroChasis.invalid && frm.controls.Placa.touched"></i>
      
                    <input type="text" formControlName="NumeroChasis" id="NumeroChasis" class="form-control"  placeholder="NumeroChasis">
                    <p class="alert alert-danger" *ngIf="frm.controls.NumeroChasis.invalid && frm.controls.NumeroChasis.touched">El campo es obligatorio(Maximo 50 caracteres)</p>
      
                </div>
                <div class="form-group">
                    <label class="simple" for="Placa">Placa</label>
                    <i class="fa fa-check-circle check" *ngIf="frm.controls.Placa.valid"></i>
                    <i class="fa fa-exclamation-circle uncheck " *ngIf="frm.controls.Placa.invalid && frm.controls.Placa.touched"></i>
      
                    <input type="text" formControlName="Placa" id="Placa" class="form-control"  placeholder="Placa">
                    <p class="alert alert-danger" *ngIf="frm.controls.Placa.invalid && frm.controls.Placa.touched">El campo es obligatorio(Maximo 20 caracteres)</p>
      
                </div>
                <div class="form-group">
                    <label class="simple" for="CapacidadCarga">Capacidad de Carga</label>
                    <i class="fa fa-check-circle check" *ngIf="frm.controls.CapacidadCarga.valid"></i>
                    <i class="fa fa-exclamation-circle uncheck " *ngIf="frm.controls.CapacidadCarga.invalid && frm.controls.CapacidadCarga.touched"></i>
      
                    <input type="text" formControlName="CapacidadCarga" id="CapacidadCarga" class="form-control"  placeholder="Toneladas">
                    <p class="alert alert-danger" *ngIf="frm.controls.CapacidadCarga.invalid && frm.controls.CapacidadCarga.touched">El campo es obligatorio(Maximo de caracteres 10)</p>
      
                </div>
                <hr>
                <div class="form-group">
                        <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                            alt="">
                        <a class="profile-img">Clic para seleccionar la imagen</a>
                    </div>
                    <hr>
                
                    <div class="form-group">     
                            
                                   <label  class="simple" for="Combustible">Tipo De Combustible: </label>
                                   <i class="fa fa-check-circle check" *ngIf="frm.controls.Combustible.valid"></i>
                                   <i class="fa fa-exclamation-circle uncheck " *ngIf="frm.controls.Combustible.invalid && frm.controls.Combustible.touched"></i>
                     
                                   <select class="form-control" formControlName="Combustible"  id="Combustible">
                                           <option value="">Seleccione ...</option>
                                           <option value="G">GASOLINA </option>
                                           <option value="D">DISEL</option>
                                         
                                           
                                           
                                           
                                   </select>
                                   <p class="alert alert-danger" *ngIf="frm.controls.Combustible.invalid && frm.controls.Combustible.touched">Es obligatorio seleccionar un Combustible</p>
                                   
                             
                          
                           </div>
      
                <div class="form-group">
                    <label class="simple" for="KmRecorrido">Km Recorridos</label>
                    <i class="fa fa-check-circle check" *ngIf="frm.controls.KmRecorrido.valid"></i>
                    <i class="fa fa-exclamation-circle uncheck " *ngIf="frm.controls.KmRecorrido.invalid && frm.controls.KmRecorrido.touched"></i>
      
                    <input type="number" formControlName="KmRecorrido" id="KmRecorrido" class="form-control"  placeholder="KmRecorrido">
                    <p class="alert alert-danger" *ngIf="frm.controls.KmRecorrido.invalid && frm.controls.KmRecorrido.touched">El campo es obligatorio(Maximo 10 caracteres)</p>
                    
                </div>

                <div class="form-group">
                        <label class="simple" for="KmRecorridoM">Km Recorridos</label>
                        <i class="fa fa-check-circle check" *ngIf="frm.controls.KmRecorridoM.valid"></i>
                        <i class="fa fa-exclamation-circle uncheck " *ngIf="frm.controls.KmRecorridoM.invalid && frm.controls.KmRecorridoM.touched"></i>
          
                        <input type="number" formControlName="KmRecorridoM" id="KmRecorridoM" class="form-control"  placeholder="KM">
                        <p class="alert alert-danger" *ngIf="frm.controls.KmRecorridoM.invalid && frm.controls.KmRecorridoM.touched">El campo es obligatorio(Maximo 10 caracteres)</p>
                        
                    </div>
             
                <div class="form-group">     
                        
                               <label  class="simple" for="Estatus">Estado del vehiculo: </label>
                               <i class="fa fa-check-circle check" *ngIf="frm.controls.Estatus.valid"></i>
                               <i class="fa fa-exclamation-circle uncheck " *ngIf="frm.controls.Estatus.invalid && frm.controls.Estatus.touched"></i>
                 
                               <select class="form-control" formControlName="Estatus"  id="Estatus">
                                       <option value="">Seleccione ...</option>
                                       <option value="A">ACTIVO</option>
                                       <option value="B">BAJA</option>
                                       <option value="S">EN SERVICIO</option>
                                       <option value="R">EN REPARACION</option>
                                       
                                       
                                       
                               </select>
                               <p class="alert alert-danger" *ngIf="frm.controls.Estatus.invalid && frm.controls.Estatus.touched">Es obligatorio seleccionar un Estatus</p>
                               
                         
                      
                       </div>
                <hr>
                <h2 class="Titulo">POLIZA DE SEGURO</h2>
                
                <div class="form-group">
                    <label class="simple" for="Poliza">Poliza</label>
                    <i class="fa fa-check-circle check" *ngIf="frm.controls.Poliza.valid"></i>
                    <i class="fa fa-exclamation-circle uncheck " *ngIf="frm.controls.Poliza.invalid && frm.controls.Poliza.touched"></i>
      
                    <input type="text" formControlName="Poliza" id="Poliza" class="form-control" placeholder="Poliza"  required number>
                    <p class="alert alert-danger" *ngIf="frm.controls.Poliza.invalid && frm.controls.Poliza.touched">El campo es obligatorio (20 caracteres maximo)</p>
                    
                </div>
                <div class="form-group">
                        <label class="simple" for="FechaRegistro">Fecha Inicio</label>
                        <i class="fa fa-check-circle check" *ngIf="frm.controls.FechaRegistro.valid"></i>
                        <i class="fa fa-exclamation-circle uncheck " *ngIf="frm.controls.FechaRegistro.invalid && frm.controls.FechaRegistro.touched"></i>
          
                        <input type="date" formControlName="FechaRegistro" id="FechaRegistro" class="form-control" placeholder="FechaRegistro" required number>
                        <p class="alert alert-danger" *ngIf="frm.controls.FechaRegistro.invalid && frm.controls.FechaRegistro.touched">El campo es obligatorio </p>
                        
                    </div>
                    <div class="form-group">
                            <label class="simple" for="FechaVencimiento">Fecha Vencimiento</label>
                            <i class="fa fa-check-circle check" *ngIf="frm.controls.FechaVencimiento.valid"></i>
                            <i class="fa fa-exclamation-circle uncheck " *ngIf="frm.controls.FechaVencimiento.invalid && frm.controls.FechaVencimiento.touched"></i>
              
                            <input type="date" formControlName="FechaVencimiento" id="FechaVencimiento" class="form-control" placeholder="FechaVencimiento" required number>
                            <p class="alert alert-danger" *ngIf="frm.controls.FechaVencimiento.invalid && frm.controls.FechaVencimiento.touched">El campo es obligatorio </p>
                            
                        </div>
                        <div class="form-group">
                                <label class="simple" for="NumProv">Telefono del proveedor</label>
                                <i class="fa fa-check-circle check" *ngIf="frm.controls.NumProv.valid"></i>
                                <i class="fa fa-exclamation-circle uncheck " *ngIf="frm.controls.NumProv.invalid && frm.controls.NumProv.touched"></i>
                  
                                <input type="text" formControlName="NumProv" id="NumProv" class="form-control" placeholder="Telefono"  required number>
                                <p class="alert alert-danger" *ngIf="frm.controls.NumProv.invalid && frm.controls.NumProv.touched">El campo es obligatorio (10 caracteres maximo)</p>
                                
                            </div>
                        <div class="form-group">
                                <i class="fa fa-check-circle check" *ngIf="frm.controls.Fotos.valid"></i>
                                <label class="simple" for="Fotos">Seleccione la imagen de la poliza</label>
                                
                                <i class="fa fa-exclamation-circle uncheck " *ngIf="frm.controls.Fotos.invalid && frm.controls.Fotos.touched"></i>
                                <input type="file"    placeholder="Seleccione la imagen" >
                                
                                <p class="alert alert-danger" *ngIf="frm.controls.Fotos.invalid && frm.controls.Fotos.touched">El campo es obligatorio </p>
                                
                            </div>
                         
                        
              
              
      
             <hr>
    
                <div class="form-group">
      
                    <button class="btn btn-primary  pull-right" type="submit" [disabled]="!frm.valid">Guardar</button>
                    <div class="alert" *ngIf="Resultado==false">
                          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                          No se puede llevar acabo la transaccion intente mas tarde
                        </div>
                        <div class="alertsuccess" *ngIf="Resultado==true">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                           Registro Guardado correctamente
                          </div>              
                </div>
      
            </form>
      
      
            <!-- <pre>Valor del formulario:{{frm.value | json}}</pre>
      <pre>status del formulario:{{frm.status | json}}</pre>
      <hr>
      <pre>{{factura | json}}</pre> -->
        </div>
      
      
      </div>