<div class="  card card-container row">
        <app-control-viajes-home></app-control-viajes-home>
<div class="col-xs-13 col-sm-12 col-sm-10 col-sm-offset-1 col-md-offset 2">
<h2 class="Titulo">REGITRAR VIAJE</h2>
<form [formGroup]="ViajeForm" >

<div class="form-group">     
 
        <label class="simple"  for="Cliente">Cliente </label>
        <input type="text" formControlName="Cliente" id="Cliente" class="form-control" placeholder="Capture el usuario" >
        
        
  

    <i class="fa fa-exclamation-circle uncheck " *ngIf="ViajeForm.controls.Cliente.invalid && ViajeForm.controls.Cliente.touched"></i>
    <p class="alert alert-danger"  *ngIf="ViajeForm.controls.Cliente.invalid && ViajeForm.controls.Cliente.touched" >El campo es obligatorio</p>
</div>

<div class="form-group">
        <label class="simple" for="Mercancia">Mercancia</label>  
    <input type="text" formControlName="Mercancia" id="Mercancia" class="form-control" placeholder="Describe la mercancia" >
</div>
<div class="form-group">     
                
                       <label  class="simple" for="Tipo">Tipo </label>
                       <select class="form-control" formControlName="Tipo" id="Tipo">
                               <option value="">Seleccione ...</option>
                               <option value="0">Normal</option>
                               <option value="0.10">A Temperatura</option>
                               <option value="0.16">Fragil</option>
                       </select>
                 
              
               </div>



    <hr><h3 class="Titulo">VEHICULO Y CAJA</h3>
    <div class="form-group">
        <label class="simple"  for="AsignacionCamion">VEHICULO </label>
        <select class="form-control" formControlName="AsignacionCamion" id="AsignacionCamion">
                <option value="">Seleccione el VEHICULO...</option>
                <option *ngFor="let DatasV of DataV" value="{{ DatasV.Id }}">{{ DatasV.Marca+'/'+DatasV.Modelo+'/PLACAS:'+DatasV.Placa+'/'+DatasV.tipo+'/'+DatasV.CapacidadCarga+'Tons.' }}</option>
              
        </select>
    </div>
    <div class="form-group">
        <label class="simple"  for="AsignacionCaja">Asignacion Remolque </label>
        <select class="form-control" formControlName="AsignacionCaja" id="AsignacionCaja">
                <option value="">Seleccione el Remolque...</option>
          <option *ngFor="let Datas of Data" value="{{ Datas.Id }}">{{ Datas.Marca+'/'+Datas.Modelo+':'+Datas.Tipo+'/'+Datas.CapacidadCarga+'Tons.' }}</option>
        </select>
    </div>

    <hr>
<div class="form-group">
                <label class="simple" for="Origen">Origen</label>  
                <input type="text" formControlName="Origen" id="Origen" class="form-control" placeholder="Ingrese el Origen(se mostrar en el mapa para ser mas exacto)" >
    <label class="simple" for="Destino">Destino</label>  
<input type="text" formControlName="Destino" id="Destino" class="form-control" placeholder="Ingrese el destino(se mostrar en el mapa para ser mas exacto)" >
<hr>
<app-maps></app-maps>
</div>

<hr>
<div class="form-group">
            <label class="simple" for="Costo">Costo</label>  
        <input type="number" formControlName="Costo" id="Costo" class="form-control" placeholder="Costo" >
</div> 
<div class="form-group">     
    
           <label  class="simple" for="EstadoViaje">EstadoViaje </label>
           <select class="form-control" formControlName="EstadoViaje" id="EstadoViaje">
                   <option value="">Seleccione...</option>
                   <option value="0">Documentado</option>
                   <option value="0.10">En Proceso</option>
                   <option value="0.16">En Transito</option>
           </select>
     
  
   </div>
  

     
<hr>

<!-- <div class="form-group simple">
        <label   for="Cliente">Cliente de IVA</label>
        <select class="form-control" formControlName="Cliente" id="Cliente">
                <option value="">Seleccione...</option>
                <option value="0">0%</option>
                <option value="0.10">10%</option>
                <option value="0.16">16%</option>
        </select>
  
</div>

            

<div class="form-group">
        <label class="simple" for="base">IVA</label>  
        <input type="number" formControlName="base" id="base" class="form-control" placeholder="IVA" >
</div>


<div class="form-group">
        <label class="simple" for="iva">Importe IVA</label>  
        <input type="number" formControlName="iva" id="iva" [(ngModel)]="ViajeForm.value.iva" class="form-control" disabled >
</div>
<div class="form-group">
        <label class="simple" for="total">Total factura iva incluido</label>  
        <input type="number" formControlName="total" id="total"  [(ngModel)]="ViajeForm.value.total" class="form-control" > 
</div>
-->
<div>
            
            <button class="btn btn-primary  pull-right" type="submit" [disabled]="!ViajeForm.valid">Guardar</button>
            
</div>

</form>


<!-- <pre>Valor del formulario:{{ViajeForm.value | json}}</pre>
<pre>status del formulario:{{ViajeForm.status | json}}</pre>
<hr>
<pre>{{factura | json}}</pre> -->
</div>


</div>