

 <!-- Brand and toggle get grouped for better mobile display -->
 <div class="navbar-header">
        <div class="navbar-header" >
                <a [routerLink]="['/inicio']" class="navbar-brand"><span class="glyphicon glyphicon-star"></span>{{title}}</a>
        </div>
        <ul class="nav navbar-nav">
                <li><a [routerLink]="['/inicio']"><span class="glyphicon glyphicon-home"></span>Inicio</a></li>
                <li><a [routerLink]="['/facturaHOME']">factura</a></li>
                <li><a [routerLink]="['/home']">Empleados</a></li>
                <li><a [routerLink]="['/Vehiculos']">Vehiculos</a></li>
                <li><a [routerLink]="['/proveedor']">Proveedores</a></li>
                <li><a [routerLink]="['/home']"><span class="glyphicon glyphicon-user"></span>Usuarios</a></li>
                <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Staff <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">View Staff</a></li>
                            <li><a href="#">Add New</a></li>
                            <li><a href="#">Bulk Upload</a></li>
                        </ul>
                    </li>
         </ul>
   
         
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        
            <app-munu-usuario></app-munu-usuario>
            
    
    </ul>